//Cores
$amarelo: #FFCB47;
$amarelo_30: #FFCB473D;
$amarelo_50: #FFCB475D;
$amarelo_forte: #FDBF21;
$branco: #FFFFFF;
$cinza: #909090;
$preto: #202020;
$preto_transparente: #0000000F;

//Fontes
$familia_titulo_destaque: 'Elsie Swash Caps', serif;
$peso_titulo_destaque: 900;
$peso_botao: 700;
$peso_destaque: 700;
$tamanho_titulo: 1.375rem;
$tamanho_titulo_destaque: 2rem;
$tamanho_destaque: 1.375rem;