@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Italiana&family=Montserrat:wght@400;700&display=swap');

body {
    color: #909090;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: url("assets/img/fundo-textura.png"), url("assets/img/fundo-linhas.png");
    background-position: center;
}